@font-face{
    font-family: "matrix";
    src: url("../fonts/Miltown_.ttf");
}    

@font-face{
    font-family: "prototype";
    src: url("../fonts/prototype.ttf");

}



body{
    font-size: 1rem;
    background: url('../img_film/fondos/pngegg.png') center center;
    background-size: cover;
}

.main{
    margin: 2rem;
}

.contenedor{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgba(190, 188, 188, 0.897);
}

.error{
    font-family: matrix;
    font-size: 8rem;
    color: crimson;
    margin: 0;
}

.mensaje{
    font-family: prototype;
    color: crimson;
    font-size: 1.2rem;

}

.item-boton{
    margin-top: 1rem;
}

.boton{
    display: block;
    padding: 0.5em;
    font-family: prototype;
    font-size: 1.5rem;
    text-align: center;
    color: crimson;
    border: solid crimson thin;
    background-color: rgba(228, 225, 225, 0.897);
}

.boton:hover{
    color: #ffffff;
    border: solid #ffffff thin;
    background-color: #dc143cd2;
}

@media screen and (min-width: 540px) and (max-width:640px){
    .main{
        margin: 1rem;
    }
    .error{
        font-size: 5rem;
    }
    .mensaje{
        font-size: 1rem;
    }

    .boton{
        font-size: 1rem;
    }
}
