
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /* min-width: 320px; */
    cursor: default;
}

div [class$=content]{
    
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
   
}

div [class$=content] img{
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
 
div [class$=content] div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
    overflow: hidden;
    background-color: rgba(248, 245, 245, 0.836);
}

div:hover{
    cursor: pointer;
}

.opacidad{
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
.escala{
   
   transform: scale(0) rotate(0deg);
   transition-timing-function: ease-out;
   transition-duration: 250ms;
 }
  
.card3-content .posicion{
   left: 100%;
   transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
   transition-duration: 550ms;
  
 }

 .resumen {
    background-color: rgba(248, 245, 245);
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
  }
  
  div [class$=content]:hover .resumen{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
    transition-delay: 0.5s;
  }

 /* Animaciones */

.card1-content:hover .opacidad{
    opacity: 1;
  }
  
.card2-content:hover .escala{
    transform: scale(1) rotate(360deg);
  }
  
.card3-content:hover .posicion{
   left: 0;
 }

 /*Formato a los contenidos de información de las cartas*/

 div [class$=content] .info{
     padding: 1rem;
 }

 .titulo{
     color: rgb(85, 84, 84);
     font-weight: bold;
     font-size: 1rem;
 }

 .titulo span{
     color: black;
     font-weight: normal;

 }
 
 div [class$=content] div.controles{
     width: 100%;
     height: 100%;
     padding: 0 1rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
     background: none;
 }

 div [class$=content] div.controles a{
     display: block;
     padding-bottom: 1rem;
     color: red;
     font-size: 1.5rem;
 }
 
 div [class$=content] div.controles a.favorito{
   color: rgb(255, 174, 0);
 }
 
 @media screen and (min-width:640px){
      .cards{
        width: 100%;
        margin: 0 auto;   
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around ;
      }
      
      div [class$=content]{
        width: 225px;
        position: relative;
        overflow: hidden;
        padding: 0;
        margin-bottom: .5rem;
    }
    
    div [class$=content] img{
        width: 225px;
    }
  }