.video-fondo{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    object-fit: cover;
    z-index: -20;
}

.lanzamiento{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: prototype;
    font-size: 1.2em;
    margin-bottom: .5rem;
}

.counter{
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-areas: 'title-d title-d'
                         'dia-1     dia-2'
                         'title-h   title-h'
                         'hora-1    hora-2'
                         'title-m   title-m'
                         'min-1     min-2'
                         'title-s   title-s'
                         'seg-1     seg-2';

    justify-content: center;
    align-content: center;
    gap: .5rem;

}

.counter span{
    font-family: matrix;
    font-size: 2.5rem;
}

.item{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gris-opaco);
    
}

.item-t{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro-opaco);
}

.item-t p{
    font-family: prototype;
    font-size: 1.2rem;
}

.item-td{
    grid-area: title-d;
}

.item-d1{
    grid-area: dia-1;
}

.item-d2{
    grid-area: dia-2;
}

.item-th{
    grid-area: title-h;
}

.item-h1{
    grid-area: hora-1;
}

.item-h2{
    grid-area: hora-2;
   
}

.item-tm{
    grid-area: title-m;
    
}

.item-m1{
    grid-area: min-1;
   
}

.item-m2{
    grid-area: min-2;
   
}

.item-ts{
    grid-area: title-s;
}

.item-s1{
    grid-area: seg-1;
    
}

.item-s2{
    grid-area: seg-2;
   
}

/*Estilos para formulario de suscripción*/
.avisame{
    padding-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"]{
    border: solid thick #eeeaea;
    font-size: 1rem;
    color:red;
    height: 20px;
}

input[type="submit"]{
    font-size: 1rem;
    background-color: red;
    color: #ffffff;
    height: 22px;
    font-weight: bold;
}

/*Estilos para formulario de suscripción*/



.footer{
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
  }

  @media screen and (min-width:540px){
    .counter{
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 'title-d title-d title-h title-h title-m title-m title-s title-s'
                             'dia-1     dia-2 hora-1    hora-2 min-1     min-2 seg-1     seg-2';
        padding: 0 .5rem;
    }
  }

  @media screen and (min-width:768px){
    
    .lanzamiento{
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: prototype;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .counter{
        min-width: 768px;
        margin: 0 auto;
    }
    
    .item{
        height: 100px;
        
        margin-bottom: 3rem;
    }
    
    .item-t{
        height: 30px;
    }
  }


  @media screen and (min-width:980px){
    
    .counter{
        width: 80%;
        min-width: 980px;
        margin: 0 auto;
    }
    
    .item-t{
        height: 40px;
    }

    input[type="email"]{
        border: solid thick #eeeaea;
        font-size: 2rem;
        color:red;
        height: 60px;
    }
    
    input[type="submit"]{
        font-size: 2rem;
        background-color: red;
        color: #ffffff;
        height: 60px;
        font-weight: bold;
    }
  }