
.grid-cards{
   
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
    justify-content: center;
    align-content: center;
}

.grid-item{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-self: stretch;
}

.grid-item img{
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.grid-item .info{
    padding: 0rem 1rem 0 1rem;
}

.box-favoritos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    border: #ffffff solid thin;
}

.box-favoritos a{
    display: block;
    color: red;
    font-size: 1.5rem;
}

.box-favoritos .favorito{
  color: rgb(255, 174, 0);
}



/*Transiciones*/

.creciendo{
    background-color: rgba(248, 245, 245, 0.856);
    position: absolute;
    visibility: hidden;
    bottom: 10%;
    height: 90%;
    opacity: 0;
    transform: translateX(100%);
}


.grid-item:hover .creciendo{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.info-bas{
    background-color: rgba(248, 245, 245, 0.856);
    position: absolute;
    bottom: 10%;
    height: 90%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
}

.grid-item:hover .info-bas{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
    transition-delay: 0.5s;
}

/* .rotarX{

} */
