
.container{
    display: grid;
    grid-template-columns: repeat(2) 1fr;
    grid-template-rows: 20% 73% 7%;
    grid-area: "logo logo"
               "contenido contenido"
               "footer footer";
    width: 100%;
    min-width: 250px;
    height: 100vh;
    margin: auto;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
   height: 100%;
   padding: 1rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

form label{
    display: block;
    font-size: 1.1rem;
    font-variant: small-caps;
    padding: 0.8rem 0;
    
}

.caja-texto{
    border: none;
    border-bottom: solid thin #ffffff;
    width: 100%;
    text-align: center;
    height: 1.5rem;
}

.boton{
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: solid #ffffff thin;
    color: #000000;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.forgot{
    margin-top: 1rem;
}

.forgot a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.7rem;

}

.footer{
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
  }

@media screen and (min-width: 640px){

    .container{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 7%;
        grid-area: "logo contenido"
                   "footer footer";
        min-width: 620px;
        width: 640px;   
    }
     
    .logo{
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       height: 100%;
       padding-top: 2rem;
    }

    .footer{
        grid-column: span 2;
    }

}

@media screen and (min-width: 768px){

    .container{
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    .footer{
        align-self: end;
    }

}