
.navbar > .logo{
    font-family: 'Faster One', cursive;
    font-size: 1.7rem;
    line-height: var(--navbar-height);
    padding-left: 3rem;
    min-width: 350px;
  }
  
.logo span{
    color: red;
  }

  #burger-checkbox {
    /* siempre oculto */
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  
  #burger-checkbox:checked ~ .navbar-list {
    /* permite abrir y cerrar el menú */
    display: inherit;
  }
  
  .burger-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    font-size: 28px;
    cursor: pointer;
  }

  .burger-label:before{
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    position: absolute;
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: bold;
    left: 0.5rem;
    top: 1rem;

}
.navbar-list{
    display: none; /*Para ocultar la lista del menu*/
    list-style: none;
    text-align: center;
    background-color: rgba(48, 47, 47, 0.932);
    max-width: 200px;
    height: 100vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
   
}

.navbar-list.open{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.507);
    
}


.navbar-item a{
    color: var(--color-enlaces);
    display: block;
    padding: 1rem;
}

.logout{
    color: linen;
    font-size: 1.5rem;

}


@media screen and (min-width:768px){
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;   
    }
 
    .logo{
       
        font-size: 1.4rem;
       
    }

    .navbar .burger-label{
        display: none;
    }

         
    .navbar-list{
        display: flex;
        background-color: #000000;
        max-width: 100%;
        height: var(--navbar-height);
    }
    
    .navbar-item a{
        display: block;
        text-decoration: none;
        color: var(--color-enlaces);
        font-size: 1rem;
        padding-left: 1em;
        line-height: 30px;
    }

    .logout{
        font-size: 1.2rem;
        
    }
}

