.grid-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    padding: .5rem;
    overflow: hidden;
}

.titulo{
   padding-left: 1rem; 
   text-align: left;
}

.relacionados{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    overflow: hidden;
}

.item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.item-datos{
    font-weight: bold;
    padding: .5rem;
    margin: .5rem 0;
}

.item-datos span{
    font-weight: normal;
}

@media screen and (min-width:640px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'titulo       titulo'
                             'video        datos'
                             'relacionados relacionados';
        gap: 1rem;
    }

    .relacionados{
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
    .item-title{
        grid-area: titulo;
    }

    .item-video{
        grid-area: video;
    }

    .item-datos{
        grid-area: datos;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .item-datos span{
        font-weight: normal;
    }

    .item-relacionados{
        grid-area: relacionados;
    }

}