

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-gris-opaco);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup-body{
    position: relative;
    width: 98%;
    height: 90%;
    padding-left: 1rem;
    padding-top: .4rem;
    border-radius: .8rem;
    box-shadow: 0 0 5px #CCC;
    background: var( --color-fondo-popup);
    transition: all 5s ease-in-out;
    margin: 10% auto;
}


.cerrar{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 100ms;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-rojo-popup);
}

.popup-body h2{
    color: var(--color-rojo-popup);
}

.info{
    color: var(--color-info);
}

.info .titulo{
    font-weight: bold;
    padding: 0.5rem;
}

.info .titulo span{
    font-weight: normal;
}


.popup-content{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.popup-content img{
    margin: 1rem 0;
    border-radius: 10px;
}

@media screen and (min-width:540px){

    .popup-body{
        width: 80%;
        height: 75%;
        margin: 10% auto;
    }

    .popup-content{
        display: flex;
        flex-direction: column;    
        align-items: center;
    }

    .popup-content img{
        display: none;
    }
}

@media screen and (min-width:768px){

    .popup-body{
        width: 46%;
        height: 70%;
    }
    
    .popup-content img{
        display: block;
    }

}