.slider{
    display: flex;
    width: 400%;
    padding: 0;
    margin: 0;
    
    overflow: hidden;
    animation: cambio 20s infinite;
    animation-duration: alternate;
    animation-timing-function: ease-in;
}

.slider > .slider-item{
    list-style: none;
    width: 100%;

}

.slider-item img{

    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center top;
    
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@media screen and (min-width:640px){
    .slider-item img{
       
        height: 200px;
       
        
    }
}

@media screen and (min-width:768px){
    .slider-item img{
        height: 285px; 
    }
}