@font-face{
  font-family: Marvel;
  src: url('../fonts/Marvel/Marvel-Regular.ttf');
}

@font-face{
  font-family: "matrix";
  src: url("../fonts/Miltown_.ttf");
}    

@font-face{
  font-family: "prototype";
  src: url("../fonts/prototype.ttf");

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /* max-width: 1280px; */
  background-color: #000000;
  color: #ffffff;
}

h1{
  font-family: prototype;
  font-size: 2rem;
  text-align: center;
}

p{
  line-height: 1.5em;
}

.header{
  width: 100%;
  height: 90px;
  background-color: #000000;
  /*Colocamos la barra fija en la parte superior*/
  position: fixed;
  top:0;
  left:0;
  
  display: flex;
  flex-direction: column;

  z-index: 99;
  
}

.navbar{ 
  /* max-width: 200px; */
  height: 60px;
  width: 100%;
}

.search{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  
  height: 30px;
  padding-right: 1rem;
  z-index: -2;
}

.slider-content{
  margin-top: 90px;
  overflow: hidden;
}

.contenido{
  width: 100%;
}

.footer{
  height: 60px;
  line-height: 60px;
  text-align: center;
} 

