:root{
    --font-size: 16px;

    --navbar-height: 60px;
    --search-height: 30px;
    --footer-heigth: 30px;
    
    --color-enlaces: #e91919;

    --color-fondo: #000000;

    --color-gris-opaco: #484948b2;

    --color-negro-opaco:  #0303039a;

    --color-textos-general: #8a8888;

    --color-info:  rgb(85, 84, 84);

    --color-rojo-popup: #F00;

    --color-fondo-popup: #ffffff;

   
}